.landing__dropper {
  
}


.landing__main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: inherit;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}


.landing__discover {
  width: 100vw;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://cdn.pixabay.com/photo/2021/07/09/16/31/living-room-6399504_1280.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.landing__discover button {
  opacity: 0;
  animation: show 500ms ease-out 2000ms forwards;
}


@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
  


.door-part {
  width: 50vw;
  height: 100vh;
  z-index: 10;
  position: absolute;
}

.door-part--left {
  background-image: url(https://cdn.pixabay.com/photo/2016/12/05/22/48/door-1885126_1280.jpg);
  background-position: 0%;
  animation-name: open-left;
  animation-duration: 5000ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  top: 0;
  left: 0;
  bottom: 0;
}

.door-part--right {
  background-image: url(https://cdn.pixabay.com/photo/2016/12/05/22/48/door-1885126_1280.jpg);
  background-position: 100%;
  animation-name: open-right;
  animation-duration: 5000ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  top: 0;
  right: 0;
  bottom: 0;
}



