.restaurant__main {
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: solid red 2px;
 
}


#restaurant-products-section {
display: flex;
flex-direction: row;
height: inherit;
width: inherit;
align-items: center;
justify-content: center;
overflow-x: scroll;
}